@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-slate-50;
  }

  .dark {
    @apply bg-slate-900;
    @apply text-white;
  }
}

.showOutline {
  @apply border;
  @apply rounded-lg;
  @apply p-4;
}

.secondary {
  @apply bg-slate-100;
  @apply dark:bg-slate-800;
}

hr {
  @apply border;
}

input, select {
  @apply border;
  @apply rounded-lg;
  @apply p-2;
  @apply bg-white;

  @apply dark:bg-slate-900;
  @apply bg-slate-50;
}

.border {
  /* Switch these if contrast is too much */
  @apply border-slate-300;
  @apply dark:border-slate-600;
}

button {
  @apply px-4;
  @apply py-2;
  @apply rounded-lg;
  @apply border;

  /*
  @apply bg-gray-100;
  @apply dark:bg-gray-800;
* */
}

label {
  @apply text-center;
  @apply my-auto;
}

td {
  @apply border;
  @apply text-center;
  /*
  @apply truncate;
  @apply max-w-0;
  @apply p-1;
  @apply w-full;
  @apply px-4;
  @apply py-2;
  */
}

/*
th {
  @apply border;
}
*/

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(10px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
